* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*STYLING*/
.top{
	height: 100%;
	width: 100%;
	margin: none;
	background: url("https://static.pexels.com/photos/8483/food-eggs-box.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	 -moz-background-size: cover;
 	 -o-background-size: cover;
  	background-size: cover;
}

h1{
	padding: 20px;
	margin: auto;
}

.form-top{
	background: rgba(225, 225, 225, 0.5);
	width: 90%;
	margin: 50px auto;
  padding: 7%;
}

.small{
	padding: 5px 20px;
}

.membership{
	background: rgba(225, 225, 225, 0.60);
	padding: 30px;
}

.membershipDetails{
  display: none;
}



.btn{
  text-align: center;

}

.stayConnected img{
  height: 50px;
}

.stayConnected>.btn{
  display: inline-block;
}

.footerSection{
 
}


.obligatoryFooterLanguage{
  text-align: center;
  display: block;
}



