* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*STYLING*/
.top{
	height: 100%;
	width: 100%;
	margin: none;
	background: url("https://static.pexels.com/photos/8483/food-eggs-box.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	 -moz-background-size: cover;
 	 -o-background-size: cover;
  	background-size: cover;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 60px;
    margin: 2% 4%;
    }

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 23px;
    letter-spacing: -1px;
    margin: 35px
    }
h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -1px;
    margin: 35px
    }

p{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    margin: 0 0 15px 0;
    }
label{
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    }
ul{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
li{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
phone{
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    }
email{
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    }
small{
    font-family: 'Cantarell', sans-serif;
    font-size: 12px;
    }

.btn{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 16px;
    }
 
 
 nav{

  background: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  text-align: right;
}

nav ul{
  padding: 10px;
  margin: 10px;
}

nav ul li{
  display: inline;

}

nav a{
  color: white;
}



.extraMarginBottom input{
  margin-bottom: 7px;
}

.extraMarginBottom label{
  text-align: center;
}

.form-top{
	background: rgba(225, 225, 225, 0.5);
	width: 60%;
	margin: 70px auto;
  padding: 3%;
}

.small{
	padding: 5px 20px;
}

.membership{
	background-color: rgba(225, 225, 225, 0.6);
	padding: 30px;
  text-align: center;
}

.membershipDetails{
  display: none;
  text-align: left;
  padding: 0 10%;

}

footer{
  text-align: center;
  background-color: rgba(225, 225, 225, 0.9);
  
}


.contactInfo {
  text-align: left;
  padding-left: 5%;
}

.contactInfo h2{
  text-align: center;
}

.stayConnected img{
  height: 50px;
  padding: 0 5px;
  margin-top: 30px;
}

.stayConnected a{
  margin-top: 30px;
}


.obligatoryFooterLanguage{
  text-align: center;
  display: block;
  margin-top: 5%;
}



