* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*STYLING both*/
.top{
	height: 100%;
	width: 100%;
	margin: none;
  background: url("http://static1.squarespace.com/static/542e8fdee4b0745e2ab844b6/t/55b794fde4b06f1beaf76a20/1438094642562/food-salad-healthy-vegetables.jpg?format=2500w") no-repeat center center fixed; 
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;

}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 60px;
    margin: 2% 4%;
    }

.memberOwner{
  color: white;
  padding: 3%;
  margin: 0 auto;

}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 23px;
    letter-spacing: -1px;
     margin: 35px;
    }

h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -1px;
    margin: 35px
    }

p{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    margin: 0 35px;
    }

.footerSection p{
   font-family: 'Cantarell', sans-serif;
    font-size: 17px;  
    margin: 0;
}


street{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    margin: 0 0 15px 0;
}

city{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    margin: 0 0 15px 0;
}

state{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    margin: 0 0 15px 0;

}

zip{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    margin: 0 0 15px 0;

}
label{
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    }
ul{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0;
    padding: 10px;
    }

li{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;

    }
phone{
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    }
email{
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    }
small{
    font-family: 'Cantarell', sans-serif;
    font-size: 12px;
    }

.btn{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 16px;
    background-color: gray;
    color: #841B2D;
    }

/*nav bar*/
nav{

  background-color: white;
  display: block;
  width: 100%;
  text-align: right;
  padding: 1% 1% 2% 1%;
}

nav ul li{
  display: inline;

}

a{
  color: maroon;
}

.logo{
  display: inline-block;
  float: left;
  margin-bottom: 0px;
  margin-left: 2%;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  font-size: 40px;
}

nav .glyphicon{
  font-size: 50px;
  color: maroon;
  float: left;
  display: inline-block;
  padding:0 0 0 2%;
}


/*index*/
.introSection{
  color: white;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
}

.titleInfo{
  padding: 2%;

}

.titleInfo p{
  margin: 2%;
  padding: 2%;
}

.locationInfo{
  padding: 2.5% 4%;
}

.introSection button{
  margin-bottom: 4%;
  padding: 2%;
}

.introSection h2{
  margin: 0;
}

.ctaSection{
  text-align: center;
}

.ctaSection button{
  margin-bottom: 20px;
  width: 40%;
  height:10%;
}

.flyerBox{
  background: gray;
  padding: 1% 0;

}

.flyerBox button{
  background-color: white;
}

.flyerBox .glyphicon{
  color: gray;
}

.pitchInBox{
  background: white;
  padding: 1% 0;

}

.glyphicon{
  font-size: 50px;
  display: block;
  padding: 2%;
  color: white;
}

.emailAskBox{
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 300px;
  padding: 9%;
  color: white;

}

.emailEntry input{
  padding-left: 5%;
  height: 80px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border: none;
  font-family: 'Cantarell', sans-serif;
  font-size: 28px;
}

.emailEntry button{
 padding: 10px auto;
 height: 80px;
 opacity: 0.9;
 font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  font-size: 26px;
  background-color: maroon;
}

.emailEntry .glyphicon{
  font-size: 40px;
  display: inline;
  margin-bottom: 0;
}

.googleMapEmbed{
    margin: 1% auto;
    padding: 3%;
}

@media screen and (max-width: 1020px){
  .googleMapEmbed{
    width: 850px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 768px){
  .googleMapEmbed{
    width: 600px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 480px){
  .googleMapEmbed{
    width: 400px;
    margin: 0 auto;
  }

}


@media screen and (max-width: 350px){
  .googleMapEmbed{
    width: 300px;
    margin: 0 auto;
  }

}

/*membership*/
.form-top{
  background: rgba(225, 225, 225, 0.7);
  width: 60%;
  margin: 0 auto;
  padding: 2%;
}

.extraMarginBottom input{
  margin-bottom: 7px;
}

.extraMarginBottom label{
  text-align: center;
}

/*both*/
.darkOverlay{
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 2%
}

.membership{
  background-color: rgba(225, 225, 225, 0.8);
  text-align: center;
}

.membership .glyphicon {
  display: inline-block;
}

.membershipDetails{
  display: none;
  text-align: left;
  padding: 0 10%;
}

.membershipDetails ul{
  padding-left: 5%;
}

.readMoreButton{
  width: 100%;
  height: 200px;
  font-size: 32px;
  background: rgb(0, 0, 0);
  color: white;
}

.showLessButton{
  margin: 30px 0;
}


/*footer*/
footer{
  text-align: center;
  background-color: rgba(225, 225, 225, 0.9);
  
}

.contactInfo {
  text-align: left;
  padding-left: 5%;
}

.contactInfo h2{
  text-align: center;
}

.stayConnected button{
  border: none;
  height: 40px;

}

.stayConnected input{
  border: none;
  height: 40px;
}

.stayConnected img{
  height: 50px;
  padding: 0 5px;
  margin-top: 30px;
}

.stayConnected a{
  margin-top: 30px;
}

.emailEntryFooter{
  border: none;
 font-family: 'Cantarell', sans-serif;
  font-size: 13px;
}

.contactUs{
  text-align: right;
  padding-right: 5%;
}

.small{
  padding: 5px 20px;
}

.obligatoryFooterLanguage{
  text-align: center;
  display: block;
  margin-top: 5%;
  margin-bottom: 1%;
}

@media screen and (max-width: 996px){
  .contactInfo{
    text-align: center;
  }
  .contactUs{
    text-align: center;
  }
}



